<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <title>用户主界面</title>
</head>

<style>
    button {
        background-color: #909399; /* background */
        border: none; /* Remove borders */
        color: black; /* text */
        padding: 15px 32px; /* Some padding */
        text-align: center; /* Center text */
        text-decoration: none; /* Remove underline */
        display: inline-block; /* Make it a block element */
        font-size: 16px; /* Set font size */
        margin: 4px 2px; /* Add margin */
        cursor: pointer; /* Add cursor on hover */
        border-radius: 30px; /* Add rounded corners */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: 100vh;
        margin: 0 auto;
    }

    .container-1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 10vh;
        margin: 0 auto;
    }
</style>

<body>
    <div id="app" style="padding-right: 40px; padding-left: 40px; padding-bottom: 50px;">
        <!--主窗口-->
        <el-card style="padding-right: 20px; padding-left: 20px; padding-bottom: 40px;" header="虚拟币系统">
            <el-table style="top: 20px;" :data="orders" :fit="true" :show-header="true">
                <el-table-column prop="id" label="用户账号">
                </el-table-column>
                <el-table-column prop="Stringname" label="用户名称">
                </el-table-column>
                <el-table-column prop="email" label="用户邮箱">
                </el-table-column>
                <el-table-column prop="money" label="用户资产">
                </el-table-column>
            </el-table>
        </el-card>

        <div class="container">
            <button onclick="window.location.href='example.html'">风险分析</button>
            <button onclick="window.location.href='order.html'">查看订单</button>
        </div>


        <el-card style="padding-right: 20px; padding-left: 20px; padding-bottom: 40px;" header="比特币">
            <el-table style="top: 20px;" :data="todos" :fit="true" :show-header="true">
                <el-table-column prop="dayPrice" label="日价格">
                </el-table-column>
                <el-table-column prop="dayReturn" label="日回报">
                </el-table-column>
                <el-table-column prop="yearReturn" label="年回报">
                </el-table-column>
                <el-table-column prop="variance" label="方差">
                </el-table-column>
            </el-table>

            <div class="container">
                <el-input type="number" v-model="bit.numbers" placeholder="请输入货币数量"></el-input>
                <el-button @click="buy()">买入</el-button>
                <el-button @click="sale()">卖出</el-button>
            </div>
        </el-card>

        <el-card style="padding-right: 20px; padding-left: 20px; padding-bottom: 40px;" header="狗狗币">
            <el-table style="top: 20px;" :data="todos" :fit="true" :show-header="true">
                <el-table-column prop="dayPrice" label="日价格">
                </el-table-column>
                <el-table-column prop="dayReturn" label="日回报">
                </el-table-column>
                <el-table-column prop="yearReturn" label="年回报">
                </el-table-column>
                <el-table-column prop="variance" label="方差">
                </el-table-column>
            </el-table>

            <div class="container">
                <el-input type="number" v-model="dog.numbers" placeholder="请输入货币数量"></el-input>
                <el-button @click="buy()">买入</el-button>
                <el-button @click="sale()">卖出</el-button>
            </div>
        </el-card>

        <el-card style="padding-right: 20px; padding-left: 20px; padding-bottom: 40px;" header="以太坊">
            <el-table style="top: 20px;" :data="todos" :fit="true" :show-header="true">
                <el-table-column prop="dayPrice" label="日价格">
                </el-table-column>
                <el-table-column prop="dayReturn" label="日回报">
                </el-table-column>
                <el-table-column prop="yearReturn" label="年回报">
                </el-table-column>
                <el-table-column prop="variance" label="方差">
                </el-table-column>
            </el-table>

            <div class="container">
                <el-input type="number" v-model="yitai.numbers" placeholder="请输入货币数量"></el-input>
                <el-button @click="buy()">买入</el-button>
                <el-button @click="sale()">卖出</el-button>
            </div>
        </el-card>

        <el-card style="padding-right: 20px; padding-left: 20px; padding-bottom: 40px;" header="泰达币">
            <el-table style="top: 20px;" :data="todos" :fit="true" :show-header="true">
                <el-table-column prop="dayPrice" label="日价格">
                </el-table-column>
                <el-table-column prop="dayReturn" label="日回报">
                </el-table-column>
                <el-table-column prop="yearReturn" label="年回报">
                </el-table-column>
                <el-table-column prop="variance" label="方差">
                </el-table-column>
            </el-table>

            <div class="container">
                <el-input type="number" v-model="taida.numbers" placeholder="请输入货币数量"></el-input>
                <el-button @click="buy()">买入</el-button>
                <el-button @click="sale()">卖出</el-button>
            </div>
        </el-card>

        <el-card style="padding-right: 20px; padding-left: 20px; padding-bottom: 40px;" header="波场币">
            <el-table style="top: 20px;" :data="orders" :fit="true" :show-header="true">
                <el-table-column prop="dayPrice" label="日价格">
                </el-table-column>
                <el-table-column prop="dayReturn" label="日回报">
                </el-table-column>
                <el-table-column prop="yearReturn" label="年回报">
                </el-table-column>
                <el-table-column prop="variance" label="方差">
                </el-table-column>
            </el-table>

            <div class="container">
                <el-input type="number" v-model="bochang.numbers" placeholder="请输入货币数量"></el-input>
                <el-button @click="buy()">买入</el-button>
                <el-button @click="sale()">卖出</el-button>
            </div>
        </el-card>
        <el-dialog :visible.async="dialogVisible" width="30%" @close="dialogVisible=false">
            <el-form label-width="100px">
                <el-form-item label="购买成功">
                </el-form-item>
                <el-form-item style="text-align: right;">
                    <el-button @click="dialogVisible=false">取 消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>





    </div>

   
    







</body>
<!-- import Vue and element-ui -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            numbers:'',
            bit: {},
            dog: {},
            yitai: {},
            taida: {},
            bochang: {},
            orders: [],
            todos:[],
            dialogVisible: false, //对话框是否显示
        },
        methods: {
            buy: function (orders) {
                this.dialogVisible = true
                
            }
        }
    })
    vue.query();
</script>
</html>